<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kristinxiomara.thefamilypets">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TheFamilyPets">
        <activity
            android:name=".adapter.AyudaMascota"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".adapter.Registro_Masc_Perdida"
            android:exported="false"/>
        <activity
            android:name=".adapter.Registro_Masc_Encontrada"
            android:exported="false" />
        <!--<activity
            android:name=".MainActivity"
            android:exported="false" />-->
        <activity
            android:name=".adapter.Registro_Ayuda_Masc"
            android:exported="false" />
        <activity
            android:name=".ui.PerfilUsuario"
            android:exported="false" />
        <activity
            android:name=".ui.Splash"
            android:exported="false" />
        <activity
            android:name=".adapter.MascotaPerdida"
            android:exported="false" />
        <activity
            android:name=".adapter.MascotaEncontrada"
            android:exported="false" />
        <activity
            android:name=".ui.Login"
            android:exported="false" />
        <activity
            android:name=".adapter.DenunciaMascota"
            android:exported="false" />
        <activity
            android:name=".adapter.AyudaVet"
            android:exported="false" />
        <activity
            android:name=".ui.vet.VetMenu"
            android:exported="false" />
        <activity
            android:name=".ui.vet.PublicacionesVet"
            android:exported="false" />
        <activity
            android:name=".ui.vet.PerfilVeterinaria"
            android:exported="false" />
        <activity
            android:name=".ui.vet.NotificacionInsumo"
            android:exported="false" />
        <activity
            android:name=".ui.vet.FormularioAyuda"
            android:exported="false" />
        <activity
            android:name=".ui.admin.PerfilAdmin"
            android:exported="false" />
        <activity
            android:name=".ui.admin.GestionarVet"
            android:exported="false" />
        <activity
            android:name=".ui.admin.GestionarAdmin"
            android:exported="false" />
        <activity
            android:name=".ui.admin.Gestionar_Public_Ayuda"
            android:exported="false" />
        <activity
            android:name=".ui.admin.AdminMenu"
            android:exported="false" />

        <!--            android:name=".adapter.Registro_Denuncia_Masc"
-->
        <activity
            android:name=".ui.Menu"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>